# The following file types are stored in Git-LFS.
*.jar filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text

# Default to EBCDIC unless otherwise specified
*                zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1

# The git attributes and ignore files MUST be ASCII
.gitattributes   zos-working-tree-encoding=iso8859-1 git-encoding=iso8859-1
.gitignore       zos-working-tree-encoding=iso8859-1 git-encoding=iso8859-1

*.txt binary
*.brk binary
*.BRK binary
*.bin binary
*.BIN binary
*.res binary
*.RES binary
*.cnv binary
*.CNV binary
*.dat binary
*.DAT binary
*.icu binary
*.ICU binary
*.spp binary
*.SPP binary
*.xml binary
*.XML binary
*.nrm binary
*.NRM binary
*.utf16be binary
*.UTF16BE binary

icu4c/source/common/rbbirpt.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/brkitr/rules/title.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/brkitr/rules/sent_el.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/brkitr/rules/sent.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/cldr-icu-readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/icu4j-readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/mappings/convrtrs.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/misc/icustd.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/misc/icuver.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/misc/zoneinfo64.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/sprep/rfc3491.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/sprep/rfc3530cs.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/sprep/rfc3530csci.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/sprep/rfc3530mixp.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/sprep/rfc3722.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/sprep/rfc3920node.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/sprep/rfc3920res.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/sprep/rfc4011.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/sprep/rfc4013.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/sprep/rfc4505.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/sprep/rfc4518.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/sprep/rfc4518ci.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/unidata/NormalizationCorrections.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/unidata/norm2/nfc.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/unidata/norm2/nfkc.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/unidata/norm2/nfkc_cf.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/unidata/norm2/uts46.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/data/zone/tzdbNames.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/extra/uconv/samples/ISO-8859-2.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/extra/uconv/samples/ISO-8859-3.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/extra/uconv/samples/danish-ISO-8859-1.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/extra/uconv/samples/eucJP.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/extra/uconv/samples/hangul-eucKR.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/extra/uconv/samples/hania-eucKR.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/extra/uconv/samples/iso8859-1.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/extra/uconv/samples/koi8r.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/i18n/regexcst.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/break/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/cal/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/case/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/citer/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/coll/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/csdet/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/date/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/numfmt/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/props/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/strsrch/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/uciter8/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/ucnv/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/udata/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/ufortune/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/ufortune/resources/res-file-list.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/ufortune/resources/root.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/ugrep/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/uresb/en.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/uresb/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/uresb/root.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/uresb/sr.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/samples/ustring/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/compat/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/depstest/dependencies.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/hdrtst/cxxfiles.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/hdrtst/dfiles.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/hdrtst/pfiles.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/perf/DateFmtPerf/ReadMe.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/perf/howExpensiveIs/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/BidiCharacterTest.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/BidiTest.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/CollationTest_NON_IGNORABLE_SHORT.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/CollationTest_SHIFTED_SHORT.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/NormalizationTest-3.2.0.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/calendar.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/conversion.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/default.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/icuio.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/idna_rules.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/mc.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/nfs4_cis_prep.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/nfs4_cs_prep_ci.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/nfs4_cs_prep_cs.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/nfs4_mixed_prep_p.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/nfs4_mixed_prep_s.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/ra.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/re_tests.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/root.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/sh.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/sh_YU.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/structLocale.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/te.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/te_IN_REVISED.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/testaliases.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/testempty.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/testnorm.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/testtypes.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/translit_rules.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testdata/zoneinfo64.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/test/testmap/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/tools/icuinfo/icuplugins_windows_sample.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
icu4c/source/tools/tzcode/readme.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
