# Default to EBCDIC unless otherwise specified
*                zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1

# The git attributes and ignore files MUST be ASCII
.gitattributes   zos-working-tree-encoding=iso8859-1 git-encoding=iso8859-1
.gitignore       zos-working-tree-encoding=iso8859-1 git-encoding=iso8859-1

*.brk binary
*.BRK binary
*.bin binary
*.BIN binary
*.res binary
*.RES binary
*.cnv binary
*.CNV binary
*.dat binary
*.DAT binary
*.icu binary
*.ICU binary
*.spp binary
*.SPP binary
*.xml binary
*.XML binary
*.nrm binary
*.NRM binary
*.utf16be binary
*.UTF16BE binary

icu4c/source/data/brkitr/*.txt binary
icu4c/source/data/brkitr/root.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1

icu4c/source/data/locales/*.txt binary
icu4c/source/data/locales/root.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1

icu4c/source/data/coll/*.txt binary
icu4c/source/data/rbnf/*.txt binary
icu4c/source/data/mappings/*.txt binary

icu4c/source/data/misc/*.txt binary
icu4c/source/data/misc/supplementalData.txt zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1

icu4c/source/data/translit/*.txt binary
icu4c/source/data/unidata/*.txt binary
icu4c/source/test/testdata/*.txt binary

# The following file types are stored in Git-LFS.
*.jar filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text

